{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Posts  ✅</h1>

    {% for category in categories %}
    {% if loop.first %} {{ '{{ Not First }}' }}{% else %} {{ 'else' }} {% endif %}
    <h2> {{ category.title }}</h2>
    <ul>
        {% for post in category.posts %}
            <li><a href="{{ path('article', {'postSlug' : post.slug}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        Категорий не найдено!
    {% endfor %}
</div>
{% endblock %}
